body {
    background-color:#c09f57af;
}
.my-list {
    list-style-type: none;
}

.movie-item-info {
    display: flex;
    flex-direction: row;
}
.movie-item-info-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}
.movie-item-info-overlay {
    position: relative;
    display: flex;
    width: 100%;
    background-image: url("https://www.themoviedb.org/t/p/w600_and_h900_bestv2/rBSpMg49sQSNn5w5VF4o0VBleNp.jpg");
    background-size: cover;
    background-position: top center;
}
.movie-item-info-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, .8);
}
.movie-item-info-img, 
.movie-item-info-description {
    z-index: 1;
    color: white;
    padding: 32px;
    display: flex;
    font-family: "Roboto", sans-serif;
    flex: 1 1 auto;
    position: relative;
}
.movie-item-info-description {
    flex: 10 1 auto;
    flex-direction: column;
}
.movie-item-info-img img{
    z-index: 1;
    width: 320px;
    height: auto;
    transform: scale(0.95);
    transition: all .4s ease-in-out ;
}

.movie-item-info-img img:hover{
    transform: scale(1);
    cursor: pointer;
}

.movie-item-info-img img:hover + .zoom {
    opacity: 1;
    transition: all .4s ease-in-out ;
}

.item-description-row {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 8px 0;
}
.item-description-title {
    font-weight: 700;
    font-size: 32px;
}
.item-description-title--yellow {
    color: yellow;
    font-size: 34px;
}
.item-description-title span {
    font-weight: 100;
}

.item-description-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-description-rate {
    border: 1px solid white;
    padding: 4px 8px;
}
.item-description-bc {
    margin: 0 24px;
}
.item-description-bc span{
    cursor: pointer;
}
.item-description-bc span:nth-child(2){
    color: red;
}
.item-description-estimate {
    position: relative;
}
.item-description-estimate::before {
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    left: -8px;
    top: 50%;
    margin-top: -2px;
}

.item-description-review h4 {
    line-height: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    color: chartreuse;
}
.item-description-review p {
    line-height: 100%;
    padding: 0;
    margin: 0;
    color: rgb(8, 122, 228);
}

.item-description-director h4,
.item-description-director p {
    padding: 0;
    margin: 0;
}
.item-description-director p {
    font-size: 12px;
    text-transform: capitalize;
}
.item-description-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-description-social-icons {
    display: flex;
    flex-direction: row;
    margin: 0 16px;
}

.item-description-social-icons span {
    display: flex;
    width: 48px;
    height: 48px;
    background-color: #032541;
    border-radius: 50%;
    margin: 0 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0 0 2px white;
    transition: all 0.3s;
}
.item-description-social-icons span:hover {
    box-shadow: 0 0 4px white inset;
}

.item-description-social-trailer {
    opacity: 1;
    transition: all 0.3s;
}
.item-description-social-trailer:hover {
    cursor: pointer;
    opacity: 0.7;
}
.item-description-social-trailer span{
    width: 125px;
    display: flex;
    padding-left: 32px;
    position: relative;
}
.item-description-social-trailer span::before {
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid white;
    position: absolute;
    top: 50%;
    left: -5px;
    margin-top: -10px;
}

.item-description-social-rating {
    display: flex;
    align-items: center;
    position: relative;
}

.item-description-social-rating span:first-child {
    width: 48px;
    height: 48px;
    background-color: #032541;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 8px;
}

@media screen and (max-width: 992px) {
    .item-description-social {
        flex-direction: column;
    }
    .item-description-social div {
        margin: 24px 0;
    }
}

.zoom {
    border: 2px solid black;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    touch-action: none;
}
.zoom::before {
    position: absolute;
    content:'';
    bottom: -5px;
    right: -3px;
    width: 2px;
    height: 8px;
    background-color: black;
    transform: rotate(-45deg);
}