* {
    box-sizing: border-box;
    transition: all 0.3s;
}
body {
    margin: 0;
    padding: 0;
    background-color: $body-color;
    color: $text-color;
    overflow-x: hidden;
}

header,
section {
    min-height: 100vh;
    width: 100vw;
    position: relative;
}

.btn {
    border: none;
    padding: 8px 32px;
    border-radius: 32px;
    transition: all 0.3s;
    box-shadow: none;
    color: $text-color;
}

.btn-primary {
    @include background-gradient();

    &:hover {
        box-shadow: 0 0 2px 1px $shadow-color;
    }
}

.btn-outline {
    background: transparent;
    border: 1px solid $text-color;

    &:hover {
        box-shadow: 0 0 2px 1px $shadow-color;
        background: rgba($color: $text-color, $alpha: .3);
    }
}