@mixin margin($margin: 8px) {
    margin: $margin auto;
}

@mixin borderRadius($radius: 8px) {
    border-radius: $radius;
}

@mixin background-gradient($from:$gradient-from , $to:$gradient-to) {
    background: linear-gradient(110deg, $from,  $to);
}
