.get-cource {
    min-height: 10vh;
    background-color: #121212;
    &-content {
        display: flex;
        align-items: center;
        min-height: 10vh;
        width: 100%;
        & > .btn {
            margin-right: 32px;
        }
    }
    &-students-count {
        display: flex;
        flex-direction: column;
        margin-right: 32px;
        span {
            display: flex;
            line-height: 0;
            flex-direction: row;
            width: 230px;
            justify-content: space-between;
            &:first-child {
                margin-bottom: 24px;
            }
            p {
                opacity: 0.4;
                margin: 0;
                padding: 0;
            }
        }
    }
    &-statistics {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        margin-top: 8px;
        &-title {
            display: flex;
            p {
                margin: 0;
                margin-right: 16px;
                opacity: 0.4;
            }
            strong {
                margin-right: 4px;
            }
            i {
                font-size: 16px;
                align-self: center;
            }
            margin-bottom: 4px;
        }
        &-progress-bar {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            span {
                position: relative;
                width: 100%;
                height: 4px;
                display: flex;
                background-color: #fff;
                margin-bottom: 4px;
                span {
                    width: 70%;
                    @include background-gradient();
                    // animation: animationWidth 5s linear infinite;
                }
            }
            p {
                margin: 0;
                width: 20%;
                padding: 0 4px;   
                opacity: 0.4;
                &:last-child {
                    text-align: right;
                }
            }
        }
    }
}